@import url('variables.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

/* Базовые стили сброса */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.page {
  font-family: var(--font-main);
  color: var(--color-dark);
  background-color: var(--color-light);
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--color-primary);
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}